<!DOCTYPE html>
<html>
  <head>
    <title>Oh no &mdash; Martini CSRF</title>
    <style type="text/css" media="screen">
      *{ margin:0; padding:0; }
      html { background-color: #fcfcfc; color: #353535; font: 200 15px/22px "Helvetica Neue", Helvetica, Arial, sans-serif; padding:15px; }
      body { margin: 7% auto 0; max-width: 390px; min-height: 180px; padding: 30px 205px 15px 0; }
      p { color: #95a5a6; margin: 11px 0 22px; overflow: hidden; }
      strong { color: #353535; font-weight: 500; }
      a { color: #4183c4; text-decoration: none; }
      a:hover { text-decoration: underline; }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><a href="https://github.com/martini-contrib/csrf">Martini CSRF</a></h1>
      <p><strong>422 error&#8253;</strong></p>
      <p>Your browser did something unexpected.<br>Please <a href="https://github.com/martini-contrib/csrf/issues">contact us</a> if the problem persists.</p>
    </div>
  </body>
</html>
